<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <style>
        body{
        text-align: center;
        background-color: #010101;
        }
        h1{
        color: green;
        }
        .main_box{
        padding: 50 px;
        border-radius: 10 px;
        background-color: grey
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
<h1>Welcome, {{ user.username }}</h1>
{% else %}
<h1>Hello DUDE</h1>
{% endif %}

<div class="main_box">

<p>adgperg[oirte[goijer[ogjer[oghnrtttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttgh</p>
</div>
</body>
</html>